<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lnjz.backrer.aiinstructor.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="lnjz.backrer.aiinstructor.entity.Users">
            <id property="id" column="id" />
            <result property="uid" column="uid" />
            <result property="userName" column="user_name" />
            <result property="password" column="password" />
            <result property="phoneNumber" column="phone_number" />
            <result property="email" column="email" />
            <result property="wechatId" column="wechat_id" />
            <result property="studentId" column="student_id" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,user_name,password,phone_number,email,
        wechat_id,student_id,created_at,updated_at
    </sql>
</mapper>
